.product {
    &-form {
      width: 18rem;
      max-width: 80%;
      margin: auto;
      display: block;
    }
  
    &-item {
      width: 20rem;
      max-width: 95%;
      margin: 1rem;
    }
  
    &__title {
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold;
    }
  
    &__price {
      text-align: center;
      color: $grey;
      margin-bottom: 0.5rem;
    }
  
    &__description {
      text-align: center;
    }
} 